.header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;

    >div:nth-child(5){
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    label{
        @include flexWrap;
    }
    select{
        width: 50%;
        @include flexWrap;
    }
    >div:nth-child(7){
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }
    @include tablets{
        margin: 0em;
        grid-template-rows: auto auto 1fr auto;
        div{
            &:first-child{
                display: flex;
                grid-row:1;
                grid-column: 1/3;
                justify-content: center;     
            }
            &:nth-child(3){
                grid-row: 2;
                grid-column: 1/3;
            }
            &:nth-child(4){
                grid-row: 2;
                grid-column: 4/6;
            }
            &:nth-child(5){
                grid-column: 4/6;
            }
            &:nth-child(7){
                grid-row: 4;
                grid-column: 1/6;
            }            
        }
    }
    @include phones{
        margin:0em;
        grid-template-rows: auto auto 1fr auto;
        div{
            &:first-child{
                display: flex;
                grid-row:1;
                grid-column: 1/3;
                justify-content: center;     
            }
            &:nth-child(3){
                grid-row: 2;
                grid-column: 1/3;
            }
            &:nth-child(4){
                grid-row: 2;
                grid-column: 4/6;
            }
            &:nth-child(5){
                grid-column: 4/6;
            }
            &:nth-child(7){
                grid-row: 4;
                grid-column: 1/6;
            }            
        }
        
    }
}
.header__div-numeros--inline{
    display: inline;
}
.header__fila2{
    grid-column: 2/5;
    grid-row: 2;
    text-align: center;
    display: flex;
    align-items: center;
    @include borderBox;
    @include tablets{
        grid-column: 1/6;
        grid-row: 3;
    }
    @include phones{
        grid-column: 1/6;
        grid-row: 3;
    }
}
.header__nav{
    width: 100%;
    @include flexWrap;
    @include phones{
        padding: 0;
    }
}

.main-container1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    @include borderBox;
}
.banner-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    &:nth-child(2){
        @include flexWrap;
    }
    @include tablets{
        margin-top: 1em;
    }
    @include phones{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        article{
            &:first-child{
                grid-row: 2;
            }
            &:nth-child(2){
                grid-row: 1;
            }
        }
    }
}
.main-container2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    @include borderBox;
    padding: 2rem;
    gap:1rem;
    .main-container2__section-Form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        >.main-container2__article-img{
            width: 100%;
            height: 100%;
            @include flexWrap;
        }
    }
    @include tablets{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        margin-top: 1em;
        padding: 0;
        .main-container2__section-Form{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            >.main-container2__article-img{
            grid-column: 1;
            grid-row: 1;
            }
        }
        
    }
    @include phones{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        margin-top: 1em;
        padding: 0;
        .main-container2__section-Form{
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
            >.main-container2__article-img{
            grid-column: 1;
            grid-row: 1;
            }
        }
        
    }
}
.FormRegistrer{
    width: 100%;
    form{
        display: grid;
        gap:1rem;
        margin:0.5rem;
        >div{
            @include flexWrap;
            flex-direction: column;
        }
        input{
            width: 50%;
        }
        select{
            width: 50%;
        }
    }
    @include phones{
        grid-column: 1;
        grid-row: 2;
        form{
            input{
                width: 95%;
            }
            select{
                width: 95%;
            }
        }
    }
}
.FormRegistrer__button--Registrer{
    width: 50%;
}
.main-container3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
    gap:1rem;
    .main-container3__Panel-Estado-General{
        width: 100%;
        padding: 1.3rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        @include phones{
            thead{
                display:none;
            }
            tr{
                display: block;
                margin-bottom: 1rem;
                padding: 0.5rem;
            }
            td{
                display: flex;
                justify-content: space-between;
                padding: 0.3rem 0;
            }
        }
    }
}
.main-container4{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
    @include tablets{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }
    @include phones{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }
    .main-container4__guideList{
        grid-column: 1/5;
        grid-row: 1;
        width: 100%;
        gap: 1rem;
        padding: 20px;
        
        article:first-child{
            @include flexWrap;
            flex-direction: column;
            @include borderBox;
        }
        @include tablets{
            grid-column: 1;
            grid-row: 1;
            thead{
                display:none;
            }
            tr{
                display: block;
                margin-bottom: 1rem;
                padding: 0.5rem;
            }
            td{
                display: flex;
                justify-content: space-between;
                padding: 0.3rem 0;
                
            }
        }
        @include phones{
            grid-column: 1;
            grid-row: 1;
            thead{
                display:none;
            }
            tr{
                display: block;
                margin-bottom: 1rem;
                padding: 0.5rem;
            }
            td{
                display: flex;
                justify-content: space-between;
                padding: 0.3rem 0;
                
            }
        }
    }
    .main-container4__historial-container{
        display: grid;
        grid-template-rows:auto auto;
        position: fixed;
        right: -100%;
        top: 100px;
        &.showHistorial{
            right: 1rem;
        }
        &.close-Historial{
            right: -100%;
        }
    }
    .historial-container-cerrar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .historial-container-Titulo{
        grid-row: 2;     
        display: flex;
        justify-content: center;
        text-align: center;   
    }
    .historial-container-Registro{
        grid-row: auto;
    }
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    padding: 20px;
    gap:1rem;

    .redes-img{
        display: flex;
        gap: 1rem;
    }
    >section{
        &:nth-child(1){
            >img{
                width:350px;
                display: flex;
                align-items: flex-start;
            }
        }
        &:nth-child(2){
            grid-column: 1;
            grid-row: 2;
            @include flexWrap;
            margin: 0.5rem;
        }
        &:nth-child(3){
            grid-column: 1;
            grid-row: 3;
            @include flexWrap;
            flex-direction: column;
            gap: 0.5rem;
            margin: 0.5rem;
        }
        &:nth-child(4){
            grid-column: 2;
            grid-row: 1;
            @include flexWrap;
            flex-direction: column;
        }
        &:nth-child(5){
            grid-column: 2;
            grid-row: 2;
            @include flexWrap;
            flex-direction: column;

            a{
                @include flexWrap;
                gap: 0.5rem;
                margin:0.5rem;
            }
        }
        &:nth-child(6){
            grid-column: 3;
            grid-row:1;
            @include flexWrap;
            flex-direction: column;
        }
        &:nth-child(7){
            grid-column: 3;
            grid-row: 2;
            @include flexWrap;
            margin:0.5rem;
            flex-direction: column;
        }
        &:nth-child(8){
            grid-column: 3;
            grid-row: 3;
            @include flexWrap;
            margin: 0.5rem;
            flex-direction: column;
        }
    }
    @include tablets{
        >section{
            &:nth-child(1){
                >img{
                    width:100%;
                }
            }
        }
    }
    @include phones{
        >section{
            &:nth-child(1){
                grid-column: 1;
                grid-row: 1;
            }
            &:nth-child(2){
                grid-column: 1/3;
                grid-row: 2;
            }
            &:nth-child(3){
                grid-column: 1/3;
                grid-row: 5;
            }
            &:nth-child(4){
                grid-column: 2;
                grid-row: 1;
            }
            &:nth-child(5){
                grid-column: 2;
                grid-row: 3;
                a{
                    justify-content: flex-end;
                }
            }
            &:nth-child(6){
                grid-column: 1;
                grid-row: 3;
            }
            &:nth-child(7){
                grid-column: 1;
                grid-row: 4;
            }
            &:nth-child(8){
                grid-column: 2;
                grid-row: 4;
            }
        }
    }
}


